:root {
  --primary: #ba0006;
  --primary-shade: #008dcd;
  --primary-tint: #1aaaeb;

  --secondary: #006e1d;

  --success: #c4a777;

  --light: #fff7cc;

  --error: #eb1438;

  --text-color: #37352f;
  --text-light: #808080;

  --whtie: #ffffff;

  --bg-light: #f3f6f6;
  --bg-light-blue: #f2f7f9;
  --bg-light-blue-shade: #e6eff3;

  --border-light: rgba(0, 0, 0, 0.13);

  --font-en: "Bahnschrift", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fredoka", sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  font-feature-settings: "pwid" 1;
  font-display: swap;
  background-color: var(--light);
}

a {
  color: var(--primary-500);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

p {
  font-size: 1.5rem;
  line-height: 1.7;
  font-feature-settings: "pwid" 1;
}
p small {
  font-size: 1.2rem;
}

p a {
  color: var(--primary);
  font-weight: bold;
}

h1,
h2 {
  letter-spacing: 0.1rem;
}

h3 {
  letter-spacing: 0.1rem;
}

h4 {
  letter-spacing: 0.05rem;
}
span {
  letter-spacing: 0.05rem;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}

section {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.4rem;
  }
}

input,
select,
option,
textarea {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
input,
textarea {
  outline: 0;
  background-color: var(--whtie) !important;
  border: 0;
  width: 100%;
  box-sizing: border-box !important;
  padding: 12px 16px;
  line-height: 1.6;
  overflow: hidden;
  border-style: solid !important;
  display: block;
  position: relative !important;
  border-radius: 2px;
  font-size: 1.8rem;
  font-family: var(--font-en);
  font-weight: 500;
}

input:focus,
textarea:focus {
  outline: solid 1px var(--primary-500);
}

textarea {
  resize: vertical;
  min-height: 140px;
}

.swiper-slide {
  opacity: 0.5;
}
.swiper-slide-active {
  opacity: 1;
}
