.section_inner {
  padding: 80px 4vw;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}
@media screen and (max-width: 768px) {
  .section_inner {
    padding: 4vw 4vw;
  }
}

/* text */

.headlineBox {
  margin: 0 0 48px;
}
.headlineCenter {
  text-align: center;
  display: block;
  font-size: 4.8rem;
  font-family: var(--font-en);
}
.headlineCenter span {
  font-size: 2.4rem;
  display: block;
  margin: 0 0 8px;
}

.headline3 {
  text-align: center;
  display: block;
  font-size: 2.4rem;
  font-family: var(--font-en);
}
.headline4 {
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-en);
}

@media screen and (max-width: 768px) {
  .headlineBox {
    margin: 0 0 24px;
    padding: 48px 0 0;
  }
}

/* button */
.buttonBoxCenter {
  margin: 0 auto;
  text-align: center;
  margin: 32px 0;
}

.buttonBoxCenter a {
  margin: 0 16px;
}

/* link */
a.hoverBorder {
  text-decoration: none;
}
a.hoverBorder:hover {
  text-decoration: underline;
}

/* Items */

.itemList_inner {
  padding: 80px 8px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}
ul.itemList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

ul.itemList li {
  width: calc(20% - 16px);
  margin: 0 8px 32px;
}

ul.itemList li:nth-child(1),
ul.itemList li:nth-child(2) {
  width: calc(50% - 16px);
}

.SwipeBox {
  margin: 0 0 8px;
}
.itemName {
  font-size: 1.4rem;
}
.itemPrice {
  font-size: 1.2rem;
}
.itemPrice span {
  font-size: 1rem;
}
.itemImg {
  width: 100%;
  position: relative;
  aspect-ratio: 1;
}
.itemImg span img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}
ul.itemList li a:hover .itemImg span img {
  transform: scale(1.1);
}
ul.itemList li a:hover .itemName,
ul.itemList li a:hover .itemPrice {
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  ul.itemList li {
    width: calc(25% - 16px);
    margin: 0 8px 32px;
  }

  ul.itemList li:nth-child(1),
  ul.itemList li:nth-child(2) {
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 768px) {
  ul.itemList li {
    width: calc(33.3333% - 16px);
    margin: 0 8px 32px;
  }

  ul.itemList li:nth-child(1),
  ul.itemList li:nth-child(2) {
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 560px) {
  ul.itemList li {
    width: calc(50% - 16px);
    margin: 0 8px 32px;
  }

  ul.itemList li:nth-child(1),
  ul.itemList li:nth-child(2) {
    width: calc(100% - 16px);
  }
}

/* newsList */

ul.newsList {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
}

ul.newsList li {
  width: calc(33.3333% - 21.3333px);
  margin: 0 0 32px 32px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

ul.newsList li:nth-child(3n + 1) {
  margin: 0 0 32px 0;
}

a.newsListCard {
  display: block;
  background-color: var(--whtie);
  position: relative;
  height: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

a.newsListCard:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.newsImage {
  position: relative;
  width: 100%;
  aspect-ratio: 1.616;
}

.newsTxt {
  padding: 16px 16px 60px;
  width: 100%;
  box-sizing: border-box;
}

.newsCategoryName {
  font-family: var(--font-en);
  font-size: 3rem;
  line-height: normal;
  font-weight: 500;
}

.newsTitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 0;
  padding: 16px 0;
}
.newsDate {
  font-family: var(--font-en);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  margin: 0;
  line-height: 1.2;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.newsDate span {
  font-size: 3rem;
  display: block;
  margin: 0;
}

a.catNews .newsCategoryName {
  color: var(--primary);
}
a.catNews {
  display: flex;
  align-items: center;
  text-align: center;
}

a.catEvent .newsCategoryName {
  color: var(--secondary);
}

a.catDiary {
  color: var(--light);
  background-color: var(--success);
}

ul.newsCategoryList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 16px 0 0;
}

ul.newsCategoryList li {
  margin: 0 8px;
}

ul.newsCategoryList li a {
  font-family: var(--font-en);
  font-size: 1.6rem;
}

@media screen and (max-width: 920px) {
  ul.newsList li {
    width: calc(50% - 16px);
    margin: 0 0 32px 32px;
  }

  ul.newsList li:nth-child(3n + 1) {
    margin: 0 0 32px 32px;
  }
  ul.newsList li:nth-child(odd) {
    margin: 0 0 32px;
  }
}
@media screen and (max-width: 520px) {
  ul.newsList li {
    width: 100%;
    margin: 0 0 16px 0;
  }
  ul.newsList li:nth-child(3n + 1) {
    margin: 0 0 16px 0;
  }
  ul.newsList li:nth-child(odd) {
    margin: 0 0 16px 0;
  }
}

.postFlex ul.newsList li {
  width: 100%;
  margin: 0 0 16px 0;
}
.postFlex ul.newsList li:nth-child(3n + 1) {
  margin: 0 0 16px 0;
}
.postFlex ul.newsList li:nth-child(odd) {
  margin: 0 0 16px 0;
}

/* pager */

ul.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  list-style-type: none;
}

ul.pager li {
  margin: 0 3px;
}
ul.pager li a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  box-sizing: border-box;
  min-width: 28px;
  border-radius: 50%;
  border: solid 1px var(--primary-500);
  color: var(--text-color);
  font-family: var(--font-en);
}

ul.pager li a:hover {
  color: var(--light);
  background-color: var(--primary);
}

ul.pager li.active a {
  background-color: var(--primary);
  color: var(--light);
}

/* post */

.postFlex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4vw;
  max-width: 1200px;
  box-sizing: content-box;
  margin: 0 auto;
}

.postFlexLeft {
  width: 70%;
}
.postFlexRight {
  width: calc(30% - 6vw);
  margin: 0 0 0 6vw;
}

.postWrapper {
  background-color: var(--whtie);
  padding: 32px;
}
.postOgImage {
  position: relative;
  width: 100%;
}
.postTitleFlex {
  margin: 0 0 32px 0;
  position: relative;
}
.postTitleBox {
  padding: 0 116px 0 0;
}
.postTitle {
  font-size: 2.4rem;
}
.postCategory {
  font-size: 4rem;
  font-family: var(--font-en);
  font-weight: 500;
}
.postCategory span.catNews {
  color: var(--primary);
}
.postCategory span.catDiary {
  color: var(--success);
}
.postCategory span.catEvent {
  color: var(--secondary);
}

.postDate {
  font-family: var(--font-en);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  margin: 0;
  line-height: 1.2;
  position: absolute;
  right: 0;
  top: 0;
}

.postDate span {
  font-size: 6rem;
  display: block;
  margin: 0;
}

.postBody {
  padding: 32px 0;
}

.postBody p {
  font-size: 1.6rem;
}

.postContact {
  background-color: var(--primary);
  color: var(--light);
  padding: 2vw 0;
}

.postContactFlex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2vw 0 0;
}
.postContactBox {
  text-align: center;
  margin: 0 2vw;
}

.postContactBox p {
  font-size: 1.4rem;
  margin: 0 0 16px;
}

ul.postContactSns {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

ul.postContactSns li {
  margin: 0 8px;
  font-size: 2rem;
}

.nextPreviewWrapper {
  display: flex;
  align-items: stretch;
  margin: 32px 0 0 0;
  padding: 0 0 32px 0;
}
.nextPreviewbox {
  width: calc(50% - 16px);
  margin: 0 0 0 32px;
}
.nextPreviewbox:first-child {
  margin: 0;
}

.nextPreviewbox p {
  margin: 0 0 8px 0;
  text-align: center;
}

.nextPreviewbox a {
  display: block;
  text-align: left;
}
.nextPreviewbox a p {
  text-align: left;
}

.postFlex ul.newsCategoryList {
  display: block;
}

.postFlex ul.newsCategoryList li {
  margin: 0 0 16px 0;
}

.postFlex ul.newsCategoryList li a {
  font-family: var(--font-en);
  font-size: 2rem;
}
.postFlexRight .headline3 {
  text-align: left;
  margin: 0 0 16px 0;
}
.categoryLinkBtnBox {
  margin: 32px 0 0 0;
}

@media screen and (max-width: 768px) {
  .postFlex {
    display: block;
    padding: 0;
  }

  .postFlexLeft {
    width: 100%;
  }
  .postFlexRight {
    width: 100%;
    margin: 0 0 0;
    padding: 4vw;
  }

  .postTitleFlex {
    margin: 0 0 32px 0;
    position: relative;
  }
  .postTitleBox {
    padding: 0 0 0 0;
    text-align: center;
  }
  .postTitle {
    font-size: 2.1rem;
  }
  .postDate {
    position: relative;
    margin: 0 auto;
    left: auto;
    top: auto;
    text-align: center;
    width: 100%;
    margin: 0 0 16px;
  }
  .postContact {
    padding: 8vw 4vw;
  }

  .postContactFlex {
    display: block;
  }
  .postContactBox {
    text-align: center;
    margin: 32px 0 0;
  }
  .nextPreviewWrapper {
    padding: 4vw;
    margin: 0 0 60px;
  }
  .postFlex .buttonBoxCenter {
    padding: 0 8vw;
  }
  .postFlex .buttonBoxCenter a {
    display: flex;
    margin: 16px 0 0;
  }
  .nextPreviewbox {
    width: calc(50% - 8px);
    margin: 0 0 0 16px;
  }
}

/* share */

ul.shareIcons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

ul.shareIcons li {
  margin: 0 16px 0 0;
  font-family: var(--font-en);
  font-size: 1.8rem;
}

/* followUs */

ul.followUs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--success);
  list-style-type: none;
  max-width: 1200px;
  padding: 32px 4vw;
}

ul.followUs li {
  margin: 0 0 0 32px;
  color: var(--light);
}

ul.followUs li:first-child {
  margin: 0 16px 0 0;
}

ul.followUs li a {
  display: block;
}

ul.followUs li a p {
  font-size: 1rem;
  text-align: center;
  display: block;
}

ul.followUs li a svg {
  font-size: 3rem;
  display: block;
  margin: 0 auto 8px;
}

ul.followUs li a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 640px) {
  ul.followUs {
    justify-content: flex-start;
  }
  ul.followUs li {
    width: calc(33.3333% - 16px);
    margin: 0 8px 32px;
  }

  ul.followUs li:first-child {
    width: 100%;
    margin: 0 0 32px;
  }
}

@media screen and (max-width: 380px) {
  ul.followUs li {
    width: 80%;
    margin: 0 auto 32px;
  }

  ul.followUs li:first-child {
    width: 100%;
    margin: 0 0 32px;
  }
  ul.followUs li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  ul.followUs li a svg {
    width: 50px;
    text-align: center;
    margin: 0 16px 0 0;
  }
  ul.followUs li a p {
    width: calc(50% - 66px);
    text-align: left;
    font-size: 1.4rem;
  }
}

/* page */

/* about */
.aboutBox {
  background-color: var(--whtie);
  padding: 4vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 80px);
  min-height: 540px;
}
.aboutBoxTxt {
  width: 50%;
}
.aboutBoxTxt h2 {
  margin: 0 0 32px 0;
}

.aboutBoxTxt p {
  font-weight: bold;
}
.aboutBoxImg {
  position: absolute;
  top: -80px;
  right: -80px;
  width: 50%;
  aspect-ratio: 1;
}

.accessBox {
  margin: 80px 0;
  display: flex;
  background-color: #fff;
}

.accessBoxMap {
  position: relative;
  width: 50%;
}

.accessBoxInfo {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.accessBoxInfoBox {
  text-align: center;
}
.accessBoxLogo {
  width: 280px;
  margin: 32px auto 32px;
  aspect-ratio: 3;
  position: relative;
}

.accessBoxInfoBox p {
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .aboutBox {
    background-color: var(--whtie);
    padding: 4vw;
    position: relative;
    display: block;
    width: 100%;
    min-height: auto;
  }
  .aboutBoxTxt {
    width: 100%;
  }

  .aboutBoxImg {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    margin: 32px 0 0 0;
  }
}
/* contact */

.contactContent {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

.contactContent p {
  text-align: left;
  max-width: 480px;
  margin: 0 auto;
}

._formrun_gotcha {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.formContentBox {
  margin: 0 0 40px;
}
.formContentBoxFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 20px;
}

.formContentBoxFlex .formContentBox {
  width: calc(50% - 10px);
  margin: 0 0 0 20px;
}
.formContentBoxFlex .formContentBox:first-child {
  margin: 0;
}

.contactContent label {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contactContent label span {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 1rem;
  color: var(--primary);
}

.errorText {
  margin: 5px 0 0 0 !important;
  font-size: 1.2rem !important;
  color: var(--primary);
}

.submitBox {
  display: flex;
  justify-content: space-between;
}
.submitBox p {
  margin: 0 32px 0 0;
  width: 60%;
}

@media screen and (max-width: 640px) {
  .submitBox {
    display: block;
  }
  .submitBox p {
    margin: 0 0 16px;
    width: 100%;
  }
  .submitBox button {
    display: flex;
    width: 100%;
  }
  .contactContent {
    margin: 0 0 48px 0;
  }
}

/* page */

.pageContent {
  margin: 0 auto;
  max-width: 720px;
}
.pageContent h2 {
  font-size: 2.4rem;
  margin: 48px 0 16px;
}
